
    <!-- Title Section -->
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Selected Experience</h2>
      </div>
    </div>
  
    <!-- Experience Section -->
    <div class="row">
      <!-- Experience Card 1 -->
      <div class="col-md-4">
        <div class="experience-card text-center">
          <i class="fa fa-briefcase"></i>
          <h4 class="experience-title">Job Title 1</h4>
          <p class="experience-description">
            Brief description of your role at this job. Technologies used, responsibilities, etc.
          </p>
        </div>
      </div>
  
      <!-- Experience Card 2 -->
      <div class="col-md-4">
        <div class="experience-card text-center">
          <i class="fa fa-briefcase"></i>
          <h4 class="experience-title">Job Title 2</h4>
          <p class="experience-description">
            Description of this job. Include accomplishments, team size, etc.
          </p>
        </div>
      </div>
  
      <!-- Experience Card 3 -->
      <div class="col-md-4">
        <div class="experience-card text-center">
          <i class="fa fa-briefcase"></i>
          <h4 class="experience-title">Job Title 3</h4>
          <p class="experience-description">
            Brief description of your role at this job. Technologies used, responsibilities, etc.
          </p>
        </div>
      </div>
    </div>
  
    <!-- Add more rows as needed -->
    <div class="row">
      <div class="col-md-4">
        <div class="experience-card text-center">
          <i class="fa fa-briefcase"></i>
          <h4 class="experience-title">Job Title 4</h4>
          <p class="experience-description">
            Description of this job.
          </p>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="experience-card text-center">
          <i class="fa fa-briefcase"></i>
          <h4 class="experience-title">Job Title 5</h4>
          <p class="experience-description">
            Description of this job.
          </p>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="experience-card text-center">
          <i class="fa fa-briefcase"></i>
          <h4 class="experience-title">Job Title 6</h4>
          <p class="experience-description">
            Description of this job.
          </p>
        </div>
      </div>
    </div>
    <br><br><br class="border-line">

  
