.carousel-container {
  height: 500px;
  
}

.carousel {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  border-top: 2px solid #232428;
  display: flex;
}
.carousel-item {
  border-top: 2px solid #232428;
  border-bottom: 2px solid #232428;
  border-left: 2px solid #232428;
}

.text-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  margin-top: 40px;
  background-color: #a9c1fd !important;
}
.carousel-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}