<div class="carousel-container" style="height: 500px;">
  
  @if(slides.length > 0) {
  <carousel 
  [startFromIndex]="0" 
  [itemsPerSlide]="itemsPerSlide" 
  [singleSlideOffset]="singleSlideOffset" 
  [noWrap]="noWrap" 
  [interval]="0" 
  [startFromIndex]="0"
  (slideRangeChange)="onSlideRangeChange($event)">

    <slide *ngFor="let slide of slides; let index=index">
      
      <div class="text-center py-5 bg-white text-#232428 ">
        <h2>{{ slide.title }}</h2>
        <i class="fa fa-light fa-comments"></i>
        <div class="image-container">
          <img class="carousel-image" [src]="slide.image" (error)="setDefaultImage($event)" />
        </div>
      </div>
    </slide>

  </carousel>
  }

</div>

<!-- <div class="container">
  <div class="checkbox">
    <label>
      <input type="checkbox" >
      Infinite
    </label>
  </div>
</div>
<pre class="card card-block card-header">{{slidesChangeMessage}}</pre> -->