<!-- Hero Container: Holds everything -->
<div class="hero-container">
  <!-- Background Video -->
  <div class="video-container">
    <div  #backgroundVideoElement></div>
  </div>
    
  

  <div class="row align-items-center">
    <!-- Left Side: Profile Image Component -->
    <div class="col-md-6 text-center">
      <button class="waves-button" (click)="playVideo() ">Waves!</button>
      <app-profile-image></app-profile-image>
    </div>

    <!-- Right Side: Hero Text -->
    <div class="col-md-6">
      <h1 class="display-4">.NET - Angular | Unity Programmer</h1>
      <p class="lead">
        With a solid foundation in C# from my game development experience, I have transitioned to web development, specializing in Angular and the .NET framework. 
        My expertise includes designing scalable class architectures, implementing modern development patterns, 
        and integrating unit testing to ensure high-quality code. I am proficient in TypeScript and JavaScript, 
        and I am currently focused on building the frontend for a resource management game in Angular. 
        My background in game development, localization and film production has given me a strong problem-solving mindset. 
        I am also experienced in collaborative development environments, using version control to contribute effectively to team projects.
      </p>
      <a href="mailto:arin.leviti@gmail.com" class="btn btn-primary"
        >Get in Touch</a
      >
    </div>
  </div>
</div>
