/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Poppins', sans-serif;
  }
  a {
    color: black; /* Change to any color you want */
    text-decoration: none; /* Removes the underline */
  }
  