html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.game-image {
  max-height: 120px;
  width: auto;
}

.section p {
  font-weight: 300;
  font-size: 1rem;
}

.link-to-final-battle-game {
  padding-top: 1rem;
  font-size: 1rem;
}

.link-to-repo {
  font-size: 1rem;
}
