<div class="icon-row">

    <img src="dotnet.svg" alt="Unity Logo" class="dotnet-logo" />
    <img src="c-sharp (1).png" alt="Unity Logo" class="unity-logo" />
    <a href="https://www.credly.com/badges/8a6cc815-d7f6-4977-9496-165ba652ba18/public_url" target="_blank"
        rel="noopener noreferrer">
        <div class="icon-container">
            <i class="fa-brands fa-unity"></i>
        </div>
    </a>

    <div class="icon-container">
        <i class="fa-brands fa-angular icon"></i>
    </div>



</div>